Flask==2.3.3
Authlib==1.2.1
python-dotenv==1.0.1
numpy==1.24.4
opencv-python==4.9.0.80
Pillow==9.5.0
pytesseract==0.3.10
torch==2.2.2
torchvision==0.17.2
transformers==4.41.1
tqdm==4.66.4
requests==2.32.3
scipy==1.13.1
sentence-transformers==2.7.0
fastapi==0.111.0
uvicorn==0.29.0
gunicorn==22.0.0

# Git-based dependencies
git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1

